In [1]:
import sys
sys.path.append("../tca") 
from load_data import load_csv
from compute_slippage import compute_arrival_slippage
from compute_IS import compute_implementation_shortfall
from broker_rank import compute_broker_rank
from compute_fill_rate import compute_fill_rate
df = load_csv()
df.head()

,order_id,symbol,side,order_qty,executed_qty,execution_price,arrival_price,decision_price,vwap,start_time,end_time,broker,sector
0,O0001,MSFT,SELL,218,215,191.71,191.09,191.38,191.59,2025-12-05 09:43:33,2025-12-05 09:51:01,Goldman,Healthcare
1,O0002,NVDA,BUY,322,312,58.82,58.60,58.54,58.97,2025-12-05 09:31:01,2025-12-05 09:40:57,Morgan Stanley,Technology
2,O0003,AAPL,BUY,545,466,193.90,193.81,193.50,195.11,2025-12-05 10:14:29,2025-12-05 10:16:53,Goldman,Consumer
3,O0004,GOOG,SELL,26,23,144.58,144.11,144.83,144.53,2025-12-05 09:36:44,2025-12-05 09:38:10,JP Morgan,Technology
4,O0005,MSFT,SELL,861,831,250.27,250.38,248.99,250.47,2025-12-05 09:51:35,2025-12-05 09:57:27,Barclays,Financials

In [2]:
aapl_slippage = compute_arrival_slippage(symbol='AAPL')
aapl_slippage.head()

,order_id,symbol,side,order_qty,executed_qty,execution_price,arrival_price,decision_price,vwap,start_time,end_time,broker,sector,arrival_slippage,arrival_slippage_bps
0,O0003,AAPL,BUY,545,466,193.90,193.81,193.50,195.11,2025-12-05 10:14:29,2025-12-05 10:16:53,Goldman,Consumer,0.09,4.643723
1,O0006,AAPL,BUY,492,397,82.49,82.24,82.74,82.19,2025-12-05 09:32:25,2025-12-05 09:40:49,Goldman,Consumer,0.25,30.398833
2,O0010,AAPL,BUY,447,432,170.49,171.00,170.13,170.70,2025-12-05 09:36:44,2025-12-05 09:44:40,JP Morgan,Financials,-0.51,-29.824561
3,O0021,AAPL,BUY,283,252,63.89,63.87,63.87,64.13,2025-12-05 09:35:57,2025-12-05 09:39:24,Morgan Stanley,Healthcare,0.02,3.131361
4,O0028,AAPL,BUY,949,841,233.23,233.73,233.25,233.86,2025-12-05 10:14:19,2025-12-05 10:16:51,Goldman,Financials,-0.50,-21.392205

In [3]:
aapl_IS = compute_arrival_slippage(symbol='AAPL')
aapl_IS.head()

,order_id,symbol,side,order_qty,executed_qty,execution_price,arrival_price,decision_price,vwap,start_time,end_time,broker,sector,arrival_slippage,arrival_slippage_bps
0,O0003,AAPL,BUY,545,466,193.90,193.81,193.50,195.11,2025-12-05 10:14:29,2025-12-05 10:16:53,Goldman,Consumer,0.09,4.643723
1,O0006,AAPL,BUY,492,397,82.49,82.24,82.74,82.19,2025-12-05 09:32:25,2025-12-05 09:40:49,Goldman,Consumer,0.25,30.398833
2,O0010,AAPL,BUY,447,432,170.49,171.00,170.13,170.70,2025-12-05 09:36:44,2025-12-05 09:44:40,JP Morgan,Financials,-0.51,-29.824561
3,O0021,AAPL,BUY,283,252,63.89,63.87,63.87,64.13,2025-12-05 09:35:57,2025-12-05 09:39:24,Morgan Stanley,Healthcare,0.02,3.131361
4,O0028,AAPL,BUY,949,841,233.23,233.73,233.25,233.86,2025-12-05 10:14:19,2025-12-05 10:16:51,Goldman,Financials,-0.50,-21.392205

In [5]:
df_aapl, summary_aapl = compute_broker_rank(symbol="AAPL")

# Show top 5 brokers by arrival slippage
summary_aapl.sort_values("avg_arrival_slippage_bps").head()

           broker  trades_count  avg_arrival_slippage_bps  avg_IS_bps
0        Barclays             1                -31.335921 -116.456204
1            Citi             1                -26.216901   28.998243
3       JP Morgan             2                  0.004304   34.677002
2         Goldman             5                  8.433786    1.166956
4  Morgan Stanley             5                 10.855860    0.047954

In [6]:
aapl_fill_rate = compute_fill_rate(symbol='AAPL')
aapl_fill_rate.head()

,order_id,symbol,side,order_qty,executed_qty,execution_price,arrival_price,decision_price,vwap,start_time,end_time,broker,sector,fill_rate
0,O0003,AAPL,BUY,545,466,193.90,193.81,193.50,195.11,2025-12-05 10:14:29,2025-12-05 10:16:53,Goldman,Consumer,0.855046
1,O0006,AAPL,BUY,492,397,82.49,82.24,82.74,82.19,2025-12-05 09:32:25,2025-12-05 09:40:49,Goldman,Consumer,0.806911
2,O0010,AAPL,BUY,447,432,170.49,171.00,170.13,170.70,2025-12-05 09:36:44,2025-12-05 09:44:40,JP Morgan,Financials,0.966443
3,O0021,AAPL,BUY,283,252,63.89,63.87,63.87,64.13,2025-12-05 09:35:57,2025-12-05 09:39:24,Morgan Stanley,Healthcare,0.890459
4,O0028,AAPL,BUY,949,841,233.23,233.73,233.25,233.86,2025-12-05 10:14:19,2025-12-05 10:16:51,Goldman,Financials,0.886196